<form class="formAsignar" [formGroup]="asignacionForm">
  <div class="formAsignar" style="background-color: #ffc872; text-align: left">
    <div style="text-align: center">
      <h2 style="color: white; text-align: center">Asignar</h2>
      <hr color="white" style="width: 50%" />
    </div>

    <div class="inputForm">
      <label style="color: white" for="area">Empleado:</label>
      <mat-form-field appearance="standard">
        <mat-select [(value)]="empleado" formControlName="empleado">
          <mat-option
            [value]="empleado.id"
            *ngFor="let empleado of empleados"
            >{{ empleado.nombre }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="inputForm">
      <label style="color: white" for="area">Equipo:</label>
      <mat-form-field appearance="standard">
        <mat-select [(value)]="equipo" formControlName="equipo">
          <mat-option [value]="equipo.id" *ngFor="let equipo of equipos">{{
            equipo.serial
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="inputForm">
      <label style="color: white" for="area">Licencias:</label>
    </div>
    <div class="inputForm">
      <label style="color: white" for="area">Perifericos:</label>

      <mat-form-field>
        <mat-select
          multiple
          [(ngModel)]="selectedPerifericos"
          [compareWith]="comparer"
          [ngModelOptions]="{ standalone: true }"
        >
          <mat-option *ngFor="let iobject of perifericos" [value]="iobject">{{
            iobject.descripcion
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div style="text-align: center">
    <button
      id="btnFinalizar"
      ng-disabled="form.$invalid"
      (click)="add()"
      [disabled]="!equipos.length"
    >
      {{ btnText }}
    </button>
  </div>
</form>
