<form class="formAsignar" [formGroup]="equipoForm">
  <div class="formAsignar" style="background-color: #ffc872; text-align: left">
    <div style="text-align: center">
      <h2 style="color: white; text-align: center">Registrar Equipo</h2>
      <hr color="white" style="width: 50%" />
    </div>
    <div class="inputForm">
      <label for="selectedTipo">TIPO EQUIPO:</label>

      <mat-form-field>
        <mat-select formControlName="tipoEquipo">
          <mat-option value="LAPTOP">LAPTOP</mat-option>
          <mat-option value="DESKTOP">DESKTOP</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="inputForm">
      <label for="serialNumber">SERIAL:</label>
      <input type="text" id="serialNumber" formControlName="serial" />
    </div>

    <div>
      <h2 style="color: white; text-align: center">CARACTERISTICAS</h2>
      <hr color="white" />
    </div>
    <div class="inputForm">
      <label for="tipo_equipo">RAM ( GB ):</label>
      <input type="text" formControlName="ram" />
    </div>
    <div class="inputForm">
      <label for="tipo_equipo">CPU :</label>
      <input type="text" formControlName="procesador" />
    </div>
    <div class="inputForm">
      <label for="tipo_equipo">DISCO ( GB ):</label>
      <input type="text" formControlName="discoDuro" />
    </div>

    <div class="inputForm">
      <label style="color: white" for="area">Licencias:</label>
      <mat-form-field>
        <mat-select
          multiple
          [(ngModel)]="selectedLicencias"
          [compareWith]="comparer"
          [ngModelOptions]="{ standalone: true }"
        >
          <mat-option *ngFor="let iobject of licencias" [value]="iobject"
            >{{ iobject.producto }} - {{ iobject.productoSerial }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div class="inputForm" style="margin-top: 3em">
      <button id="btnFinalizar" (click)="add()">
        {{ btnText }}
      </button>
    </div>
  </div>
</form>
