<div class="tableContainer">
  <h1>Asignaciones</h1>
  <hr color="white" />
  <table>
    <tr>
      <th>ID</th>
      <th>Empleado</th>
      <th>Cédula</th>
      <th>Tipo Equipo</th>
      <th>Serial</th>
      <th>Fecha Asignacion</th>
      <th>Eliminar</th>
    </tr>
    <tr *ngFor="let asignacion of AsignacionesService.asignacionesLista">
      <td>{{ asignacion.id }}</td>
      <td>{{ asignacion.empleado.nombre }}</td>
      <td>{{ asignacion.empleado.cedula }}</td>
      <td>{{ asignacion.equipo.tipoEquipo }}</td>
      <td>{{ asignacion.equipo.serial }}</td>

      <td>
        {{ asignacion.createdAt | date }}
      </td>

      <td>
        <i
          class="fa fa-times-rectangle"
          (click)="AsignacionesService.deleteAsignaciones(asignacion.id)"
          style="font-size: 25px; cursor: pointer; color: red"
        ></i>
      </td>
    </tr>
  </table>
</div>
