<h1>Equipos</h1>
<hr color="white" />
<div class="tableContainer">
  <table>
    <tr>
      <th>ID</th>
      <th>Disponible</th>
      <th>Tipo Equipo</th>
      <th>Serial</th>
      <th>Procesador</th>
      <th>Memoria Ram</th>
      <th>Disco Duro</th>
      <th>Fecha Creacion</th>
      <th>Acciones</th>
    </tr>
    <tr *ngFor="let equipo of equiposService.equiposLista">
      <td>{{ equipo.id }}</td>
      <td>{{ equipo.disponible === "0" ? "NO" : "SI" }}</td>
      <td>
        {{ equipo.tipoEquipo }}
      </td>
      <td>{{ equipo.serial }}</td>
      <td>{{ equipo.procesador }}</td>
      <td>{{ equipo.ram }} GB</td>
      <td>{{ equipo.discoDuro }} GB</td>

      <td>{{ equipo.createdAt | date }}</td>
      <!--  <td> -->
      <!--   ng-href="/inventarios/#!asignar_form/{{item.ID}}" -->
      <!-- <a> <i class="fa fa-pencil-square" style="font-size: 25px"></i></a> -->
      <!-- </td> -->
      <td>
        <a>
          <i
            (click)="redirect(equipo)"
            class="fa fa-pencil-square"
            style="font-size: 25px; padding-right: 2px; cursor: pointer"
          ></i
        ></a>
        <i
          class="fa fa-times-rectangle"
          (click)="equiposService.deleteEquipo(equipo.id)"
          style="font-size: 25px; cursor: pointer; color: red"
        ></i>
      </td>
    </tr>
  </table>
</div>
<!--  ng-click="eliminar(item.ID)" -->
